# -----------------------------
# macOS / Linux
# -----------------------------
.DS_Store
*.swp
*.swo
*~

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
*.iml

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# AWS CLI cache (local only)
# -----------------------------
.aws/

# -----------------------------
# Temporary / backup files
# -----------------------------
*.tmp
*.bak

